{{!-- 
	id : id 배정
	name : name 배정
	labelname : label 배정
--}}
<div class="inp_radio{{#if rd-class}} {{rd-class}}{{/if}}">
	<input type="radio"
		id="{{rd-id}}"
		name="{{name}}"
		{{#if checked}}checked{{/if}}
		{{#if disabled}}disabled{{/if}}
	>
	<label for="{{rd-id}}">
		<span class="label_i">{{{labelname}}}</span>
	</label>
	{{#if @partial-block}}{{> @partial-block }}{{/if}}
</div>