<div class="input_text{{#if class}} {{class}}{{/if}}{{#if inp_search}} search{{/if}}{{#if cal}} calendar{{/if}}">
  {{#if l-text}}<div class="int_txt left">{{l-text}}</div>{{/if}}
  <div class="inp">
    <input 
      {{#if type}}
				type="{{type}}"
			{{else}}
				{{#if cal}}
					type="tel"
				{{else}}
					type="text"
				{{/if}}
			{{/if}}
      {{#if id}}id="{{id}}"{{/if}}
      {{#if cal}}
				class="{{#if cal}}inp_picker {{/if}}{{inpclass}}"
			{{else}}
				{{#if inpclass}}class="{{inpclass}}"{{/if}}
			{{/if}}
      {{#if placeholder}}placeholder="{{placeholder}}"{{/if}}
      {{#if value}}value="{{value}}"{{/if}}
      {{#if minlength}}minlength="{{minlength}}"{{/if}}
      {{#if maxlength}}maxlength="{{maxlength}}"{{/if}}
      {{#if disabled}}disabled{{/if}}
      {{#if readonly}}readonly{{/if}}
      {{#if inp-title}}title="{{inp-title}}"{{/if}}
      {{#if cal}}title="날짜를 입력해주세요"{{/if}}
    >
    {{!-- 버튼 (초기화 삭제, 달력 호출) --}}
    {{#unless no_del}}<button type="button" class="del"><span class="blind">텍스트 삭제</span></button>{{/unless}}{{#if cal}}<button type="button" class="btn calendar_call" title="날짜 선택"></button>{{/if}}
  </div>
  {{#if r-text}}<div class="int_txt right">{{r-text}}</div>{{/if}}
</div>
{{!-- 안내문구 노출 위치 --}}
{{#if msg1}}
  <p class="msg_success">{{msg1}}</p>
{{/if}}
{{#if msg2}}
  <p class="msg_error">{{msg2}}</p>
{{/if}}
{{#if msg3}}
  <p class="msg_fail">{{msg3}}</p>
{{/if}}
{{!-- validation --}}